.login{
    margin-top: 40px;
    border: rgb(76, 14, 177) 1px solid;
    width:75%;
    height: 80%;
    background-color: rgb(150, 184, 248);
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    margin-left: 10%;
   

    .heading{
        width:100%;
    }
     .inputs, .buttons{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        input{
            width:60%
        }
        }
        .buttons{
            flex-direction: row;
        }
}
.validationMessage{
    color: red;
    font-size: 16px;
   margin-left: 30%;
    text-align: center;

}