.registration{
    margin-top: 40px;
    border: rgb(76, 14, 177) 1px solid;
    width:75%;
    height: 80%;
    background-color: rgb(116, 160, 243);
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    margin-left: 12%;
   

    .heading{
        width:100%;
    }
     .inputs, .buttons{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        input{
            width:60%
        }
        }
        .buttons{
            flex-direction: row;
        }
}