.registration{
    margin-top: 40px;
    border: rgb(252, 250, 255) 2px solid;
    width:65%;
    height: 50vh;
    background-color: #0b063a00;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    margin-left: 18%;
   

    .heading{
        width:100%;
        color: white;
        text-align: center;
    }
     .inputs, .buttons{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        color: white;
        input{
            width:60%
        }
        }
        .buttons{
            flex-direction: row;
        }
}

.registerError{
    color: white;
    background-color: rgb(148, 44, 44);
    font-size: 18px;
    text-align: center;
    margin-left: 35%;
}
.RegistrationclassName, .BackclassName{
    width: 80px !important;
}
