.loggedIn{
    background-color: #0b063a00;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
    border: solid 2px white;
    height: 70vh;
    width: 70vw;
    margin-left: 15%;
    margin-top: 20px;

    p {
        text-align: center;
        color: white;
        padding: 10px;
        //background-color: #000f3d;

    }

    .totalFundsDiv{
        padding-left: 30px;
        padding-bottom: 5px;
    }

    .WithdrawMessage{
        margin-left: 22%;
        font-size: 17px;
        margin-top: 10px;
        color: white;
        
    }

 
    .totalFunds{
        text-decoration:wavy;
        text-shadow: hue(rgb(6, 2, 19));
        background-color:rgb(59, 238, 104);
    }
}

   .transferClassName{
        margin-left: 50%;
    }

    .transferClassNameForButton, .withdrawClassName,.depositClassNameForButton{
        background-color:#4f5353 ;
    }

    
    .submitClassName{
        margin-left: 53%;
        background-color: #0a1979;
    }

    .logOutClassName{
        margin-left: 85%; 
    }

    .inputClassName{
    
    }

 .UserNameP{
    background-color: #000f3d;
 }